@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
  cursor: pointer;
}

body {
  background-color: #FCF9EE;
}

.fix::after {
  content: "";
  clear: both;
  display: block;
}

.kor {
  font-family: "KOTRA_GOTHIC";
}

.eng {
  font-family: "Bookk Myungjo";
}

/* .your-style {
font-family: 'Bookk Myungjo';
font-weight: 300;
font-style: normal;
} */
/* .your-style {
font-family: 'Bookk Myungjo';
font-weight: bold;
font-style: normal;
} */
/* font-family: 'KOTRA_GOTHIC'; */
/* ----------header_outer---------- */
.header_outer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  /* height: 90px; */
  background-color: #FCF9EE;
  border-bottom: 1px solid #fff;
  transition: all 0.3s;
}
.header_outer .header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 1300px;
  height: 90px;
  box-sizing: border-box;
  padding-bottom: 13px;
  margin: 0px auto;
}
.header_outer .header .logo_lnb {
  display: flex;
  align-items: end;
}
.header_outer .header .logo_lnb .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 45px;
  cursor: pointer;
}
.header_outer .header .logo_lnb .logo p {
  font-family: "Bookk Myungjo";
  font-size: 30px;
}
.header_outer .header .logo_lnb .logo p:nth-child(2) {
  font-size: 12px;
  margin: 5px 0px 0px;
}
.header_outer .header .logo_lnb .lnb_wrap {
  /* overflow: hidden; */
  padding-left: 45px;
}
.header_outer .header .logo_lnb .lnb_wrap li {
  position: relative;
  float: left;
  font-size: 18px;
  padding-right: 80px;
}
.header_outer .header .logo_lnb .lnb_wrap li ul {
  position: absolute;
  top: 20px;
  left: -10px;
  overflow: hidden;
  width: 700px;
  height: 0px;
  line-height: 120px;
  font-family: "KOTRA_GOTHIC";
  color: #000;
}
.header_outer .header .logo_lnb .lnb_wrap li ul li {
  float: left;
  font-size: 16px;
  padding: 0px;
  margin-right: 50px;
}
.header_outer .header .logo_lnb .lnb_wrap li span {
  position: relative;
}
.header_outer .header .logo_lnb .lnb_wrap li span::after {
  position: absolute;
  bottom: -15px;
  left: -3.5px;
  content: "";
  width: 120%;
  height: 2px;
  background-color: #222;
  transform: scaleX(0);
  transition: all 0.3s;
  z-index: 10;
}
.header_outer .header .logo_lnb .lnb_wrap li span:hover::after {
  transform: scaleX(1);
}
.header_outer .header .gnb {
  display: flex;
  align-items: end;
  margin-right: 30x;
}
.header_outer .header .gnb li {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.header_outer .header .gnb li img {
  width: 100%;
  height: 100%;
}
.header_outer #hd_border {
  display: none;
  position: absolute;
  top: 90px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}
.header_outer .search_outer {
  position: absolute;
  top: -400px;
  left: 0px;
  width: 100%;
  height: 400px;
  background-color: #FCF9EE;
  transition: all 0.3s;
}
.header_outer .search_outer .search_wrap {
  position: relative;
  width: 1300px;
  margin: 0px auto;
}
.header_outer .search_outer .search_wrap .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  margin: 50px 45px 100px;
  cursor: pointer;
}
.header_outer .search_outer .search_wrap .logo p {
  font-family: "Bookk Myungjo";
  font-size: 30px;
}
.header_outer .search_outer .search_wrap .logo p:nth-child(2) {
  font-size: 12px;
  margin: 5px 0px 0px;
}
.header_outer .search_outer .search_wrap .search_gnb {
  display: flex;
  align-items: end;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 30x;
  background-color: #FCF9EE;
}
.header_outer .search_outer .search_wrap .search_gnb li {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.header_outer .search_outer .search_wrap .search_gnb li img {
  width: 100%;
  height: 100%;
}
.header_outer .search_outer .search_wrap .search_input {
  width: 990px;
  height: 30px;
  font-family: "KOTRA_GOTHIC";
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #222;
  padding-left: 50px;
  margin: 0px 0px 0px 155px;
}
.header_outer .search_outer .search_wrap .search_input:focus {
  outline: none;
}
.header_outer .search_outer .search_wrap .help {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "KOTRA_GOTHIC";
  font-size: 16px;
  margin-top: 90px;
}
.header_outer .search_outer .search_wrap .help li {
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 1px 6px;
  margin-right: 40px;
}
.header_outer .search_outer .search_wrap .help li:last-child {
  margin-right: 0px;
}
.header_outer .search_outer .search_wrap #close_search_btn {
  position: absolute;
  top: 2px;
  right: -60px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.header_outer .search_outer .search_wrap #close_search_btn img {
  width: 100%;
  height: 100%;
}

/* ----------header_outer---------- */
/* ----------cart---------- */
#cart {
  position: fixed;
  top: 0px;
  right: -530px;
  width: 522px;
  height: 100vh;
  background-color: #FCF9EE;
  border: 4px solid #000;
  z-index: 991;
  transition: all 0.3s;
}
#cart .cart_inner {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 500px;
  height: calc(100vh - 35px);
  border: 3px solid #000;
  box-sizing: border-box;
}
#cart .cart_inner #close_cart_btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#cart .cart_inner #close_cart_btn img {
  width: 100%;
  height: 100%;
}
#cart .cart_inner p {
  font-size: 22px;
  text-align: center;
  margin-top: 330px;
}

/* ----------cart---------- */
/* ----------container---------- */
.container .wrap {
  width: 1300px;
  margin: 0px auto;
}
.container .wrap .cologne_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.container .wrap .cologne_list .item_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 360px;
  height: 450px;
  background-color: #fff;
  margin-bottom: 30px;
}
.container .wrap .cologne_list .item_wrap .img_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  height: 340px;
}
.container .wrap .cologne_list .item_wrap .img_wrap img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
  cursor: pointer;
}
.container .wrap .cologne_list .item_wrap p {
  font-size: 16px;
  font-family: "BookkMyungjo-Bd";
  margin: 0px 0px 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.container .wrap .cologne_list .item_wrap .name_ko {
  font-family: "Pretendard-Regular";
}
.container .wrap .cologne_list .item_wrap span {
  font-size: 14px;
  font-family: "BookkMyungjo-Bd";
  transition: all 0.3s;
}
.container .wrap .cologne_list .item_wrap .quick_view {
  display: block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-family: "Pretendard-Regular";
  color: #fff;
  background-color: #222;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s;
}
.container .wrap .cologne_list .item_wrap .quick_view:hover {
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.container .wrap .cologne_list .item_wrap:hover .quick_view {
  opacity: 1;
}
.container .wrap .cologne_list .item_wrap:hover span {
  opacity: 0;
}
.container .wrap .cologne_list .item_wrap:hover p {
  opacity: 0;
}
.container .wrap .cologne_list .item_wrap:hover .img_wrap img {
  scale: 1.07;
}
/* ----------container---------- *//*# sourceMappingURL=ss.css.map */