@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
  cursor: pointer;
}

body {
  background-color: #FCF9EE;
}

.fix::after {
  content: "";
  clear: both;
  display: block;
}

.kor {
  font-family: "Pretendard-Regular";
}

.eng {
  font-family: "Bookk Myungjo";
}

/* .your-style {
font-family: 'Bookk Myungjo';
font-weight: 300;
font-style: normal;
} */
/* .your-style {
font-family: 'Bookk Myungjo';
font-weight: bold;
font-style: normal;
} */
/* font-family: 'KOTRA_GOTHIC'; */
/* ----------header_outer---------- */
.header_outer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  /* height: 90px; */
  background-color: #FCF9EE;
  border-bottom: 1px solid #fff;
  transition: all 0.3s;
}
.header_outer .header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 1300px;
  height: 90px;
  box-sizing: border-box;
  padding-bottom: 13px;
  margin: 0px auto;
}
.header_outer .header .logo_lnb {
  display: flex;
  align-items: end;
}
.header_outer .header .logo_lnb .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 45px;
  cursor: pointer;
}
.header_outer .header .logo_lnb .logo p {
  font-family: "Bookk Myungjo";
  font-size: 30px;
}
.header_outer .header .logo_lnb .logo p:nth-child(2) {
  font-size: 12px;
  margin: 5px 0px 0px;
}
.header_outer .header .logo_lnb .lnb_wrap {
  /* overflow: hidden; */
  padding-left: 45px;
}
.header_outer .header .logo_lnb .lnb_wrap li {
  position: relative;
  float: left;
  font-size: 18px;
  padding-right: 80px;
}
.header_outer .header .logo_lnb .lnb_wrap li ul {
  position: absolute;
  top: 20px;
  left: -10px;
  overflow: hidden;
  width: 700px;
  height: 0px;
  line-height: 120px;
  font-family: "Pretendard-Regular";
  color: #000;
}
.header_outer .header .logo_lnb .lnb_wrap li ul li {
  float: left;
  font-size: 16px;
  padding: 0px;
  margin-right: 50px;
}
.header_outer .header .logo_lnb .lnb_wrap li span {
  position: relative;
}
.header_outer .header .logo_lnb .lnb_wrap li span::after {
  position: absolute;
  bottom: -15px;
  left: -3.5px;
  content: "";
  width: 120%;
  height: 2px;
  background-color: #222;
  transform: scaleX(0);
  transition: all 0.3s;
  z-index: 10;
}
.header_outer .header .logo_lnb .lnb_wrap li span:hover::after {
  transform: scaleX(1);
}
.header_outer .header .gnb {
  display: flex;
  align-items: end;
  margin-right: 30x;
}
.header_outer .header .gnb li {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.header_outer .header .gnb li img {
  width: 100%;
  height: 100%;
}
.header_outer #hd_border {
  display: none;
  position: absolute;
  top: 90px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}
.header_outer .search_outer {
  position: absolute;
  top: -400px;
  left: 0px;
  width: 100%;
  height: 400px;
  background-color: #FCF9EE;
  transition: all 0.3s;
  z-index: 10;
}
.header_outer .search_outer .search_wrap {
  position: relative;
  width: 1300px;
  margin: 0px auto;
}
.header_outer .search_outer .search_wrap .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  margin: 50px 45px 100px;
  cursor: pointer;
}
.header_outer .search_outer .search_wrap .logo p {
  font-family: "Bookk Myungjo";
  font-size: 30px;
}
.header_outer .search_outer .search_wrap .logo p:nth-child(2) {
  font-size: 12px;
  margin: 5px 0px 0px;
}
.header_outer .search_outer .search_wrap .search_gnb {
  display: flex;
  align-items: end;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 30x;
  background-color: #FCF9EE;
}
.header_outer .search_outer .search_wrap .search_gnb li {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.header_outer .search_outer .search_wrap .search_gnb li img {
  width: 100%;
  height: 100%;
}
.header_outer .search_outer .search_wrap .search_input {
  width: 990px;
  height: 30px;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #222;
  padding-left: 50px;
  margin: 0px 0px 0px 155px;
}
.header_outer .search_outer .search_wrap .search_input:focus {
  outline: none;
}
.header_outer .search_outer .search_wrap .help {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  margin-top: 90px;
}
.header_outer .search_outer .search_wrap .help li {
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 1px 6px;
  margin-right: 40px;
}
.header_outer .search_outer .search_wrap .help li:last-child {
  margin-right: 0px;
}
.header_outer .search_outer .search_wrap #close_search_btn {
  position: absolute;
  top: 2px;
  right: -60px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.header_outer .search_outer .search_wrap #close_search_btn img {
  width: 100%;
  height: 100%;
}
/* ----------header_outer---------- */


/* ----------cart---------- */
#cart {
  position: fixed;
  top: 0px;
  right: -530px;
  width: 522px;
  height: 100vh;
  background-color: #FCF9EE;
  border: 4px solid #000;
  z-index: 991;
  transition: all 0.3s;
}
#cart .cart_inner {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 500px;
  height: calc(100vh - 35px);
  border: 3px solid #000;
  box-sizing: border-box;
}
#cart .cart_inner #close_cart_btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#cart .cart_inner #close_cart_btn img {
  width: 100%;
  height: 100%;
}
#cart .cart_inner p {
  font-size: 14px;
  text-align: center;
  margin-top: 330px;
}
/* ----------cart---------- */


/* ----------container---------- */
.container {
  width: 1300px;
  margin: 180px auto 100px;
}
.container .path {
  position: relative;
  height: 20px;
  font-family: "Bookk Myungjo";
  font-size: 18px;
  margin-bottom: 30px;
}
.container .path a {
  margin-right: 80px;
}
.container .path #sorting {
  position: absolute;
  top: 5px;
  right: 55px;
  font-family: "Pretendard-Regular";
  background-color: #FCF9EE;
  border: none;
  cursor: pointer;
}
.container .path::after {
  position: absolute;
  top: 12px;
  left: 58px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #222;
}
.container .wrap {
  width: 1300px;
  margin: 0px auto;
}
.container .wrap .cologne_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.container .wrap .cologne_list .item_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 360px;
  height: 450px;
  background-color: #fff;
  margin-bottom: 30px;
}
.container .wrap .cologne_list .item_wrap .img_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  height: 340px;
}
.container .wrap .cologne_list .item_wrap .img_wrap img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
  cursor: pointer;
}
.container .wrap .cologne_list .item_wrap p {
  font-size: 16px;
  font-family: "Bookk Myungjo";
  margin: 0px 0px 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.container .wrap .cologne_list .item_wrap .name_ko {
  font-family: "Pretendard-Regular";
}
.container .wrap .cologne_list .item_wrap span {
  font-size: 14px;
  font-family: "Bookk Myungjo";
  transition: all 0.3s;
}
.container .wrap .cologne_list .item_wrap .gift {
  display: none;
}
.container .wrap .cologne_list .item_wrap .scent {
  display: none;
}
.container .wrap .cologne_list .item_wrap .quick_view {
  display: block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-family: "Pretendard-Regular";
  color: #fff;
  background-color: #222;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s;
}
.container .wrap .cologne_list .item_wrap .quick_view:hover {
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.container .wrap .cologne_list .item_wrap:hover .quick_view {
  opacity: 1;
}
.container .wrap .cologne_list .item_wrap:hover span {
  opacity: 0;
}
.container .wrap .cologne_list .item_wrap:hover p {
  opacity: 0;
}
.container .wrap .cologne_list .item_wrap:hover .img_wrap img {
  scale: 1.07;
}

/* .pagination {
    display: flex;
    justify-content: space-between;
    width: 305px;
    margin: 0px auto 150px;
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25px; height: 25px; 
        font-size: 15px;
        font-family: 'Pretendard-Regular';
        background: #fff;
        border: 1px solid #ccc;
        box-sizing: border-box;
        cursor: pointer;
        img {
            width: 80%; height: auto;
            filter: invert(50%);
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(8), &:nth-child(9) {background-color: #eee;}
    }
    li:hover {
        color: #fff;
        background-color: #333;
        border: 1px solid #333;
        img {filter: invert(100%);}
    }
} //pagination */

.container #pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 305px;
  margin: 30px auto 150px;
}
.container #pagination_container .prev_btn, .container #pagination_container .next_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px; height: 25px; 
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0px 5px;
  cursor: pointer;
}
.container #pagination_container img {
  width: 80%; height: auto;
  filter: invert(50%);
}
.container #pagination_container img:hover {
  filter: invert(30%);
}
.container #pagination_container .num_btn_wrap .num_btn {
  display: inline-block;
  width: 25px; height: 25px; line-height: 25px;
  font-size: 15px;
  font-family: 'Pretendard-Regular';
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
}
.container #pagination_container .num_btn_wrap .num_btn.selected {
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
}
.container #pagination_container .num_btn_wrap .num_btn:hover {
  font-weight: 600;
}
.container #pagination_container .num_btn_wrap .num_btn:nth-child(2) {
  margin: 0px 5px;
}
/* ----------container---------- */


/* ----------popup---------- */
.popup_wrap {
  display: none;
  width: 860px;
  height: 500px;
  background-color: rgb(255, 255, 255);
}
.popup_wrap .popup_inner {
  height: 100%;
  position: relative;
  display: flex;
}
.popup_wrap .popup_inner .popup_img {
  width: 387px;
  height: 100%;
  border: 1px solid #777;
  box-sizing: border-box;
  padding: 30px 0px;
}
.popup_wrap .popup_inner .popup_img img {
  width: 100%;
}
.popup_wrap .popup_inner .txt_wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 473px;
  height: 100%;
  font-family: "Pretendard-Regular";
}
.popup_wrap .popup_inner .txt_wrap li {
  cursor: default;
}
.popup_wrap .popup_inner .txt_wrap .txt_eng {
  margin-top: 95px;
}
.popup_wrap .popup_inner .txt_wrap .txt_kor {
  margin-top: 15px;
}
.popup_wrap .popup_inner .txt_wrap .txt_gift {
  margin-top: 50px;
  font-size: 14px;
}
.popup_wrap .popup_inner .txt_wrap .txt_scent {
  font-size: 14px;
  text-align: center;
  padding: 0px 35px;
  margin-top: 15px;
}
.popup_wrap .popup_inner .txt_wrap .txt_price {
  margin-top: 45px;
}
.popup_wrap .popup_inner .txt_wrap .txt_btn {
  width: 290px;
  height: 35px;
  line-height: 35px;
  background-color: #222;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  margin-top: 60px;
  transition: all 0.3s;
  cursor: pointer;
}
.popup_wrap .popup_inner .txt_wrap .txt_btn:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #222;
  box-sizing: border-box;
}
.popup_wrap .popup_inner .pop_btn {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
/* ----------popup---------- */


/* ----------footer---------- */
.footer_wrap {
  width: 100%;
  background-color: #444;
  padding: 25px;
}
.footer_wrap .footer {
  display: flex;
  position: relative;
  width: 1300px;
  height: 300px;
  font-size: 14px;
  color: #fff;
  border: 2px solid #ddd;
  margin: 0px auto;
  overflow: hidden;
}
.footer_wrap .footer .footer_left {
  width: 935px;
  padding: 35px 0px 0px 115px;
}
.footer_wrap .footer .footer_left li {
  margin-bottom: 10px;
}
.footer_wrap .footer .footer_left li:nth-child(1) {
  margin-bottom: 35px;
}
.footer_wrap .footer .footer_left li:nth-child(5) {
  margin-bottom: 40px;
}
.footer_wrap .footer .footer_left li span {
  margin-right: 30px;
}
.footer_wrap .footer .footer_menu {
  display: none;
  position: absolute;
  top: 65px;
  width: 120px;
  background-color: #444;
  border: 1px solid #fff;
  padding: 15px;
}
.footer_wrap .footer .footer_menu li {
  margin-bottom: 10px;
}
.footer_wrap .footer .footer_menu li:hover {
  text-decoration: underline;
}
.footer_wrap .footer .me01 {
  left: 100px;
}
.footer_wrap .footer .me02 {
  left: 183px;
}
.footer_wrap .footer .me03 {
  left: 260px;
}
.footer_wrap .footer .footer_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
}
.footer_wrap .footer .footer_right .txt_box {
  width: 145px;
  height: 60px;
  font-size: 10px;
  text-align: center;
  border: 1px solid #fff;
}
.footer_wrap .footer .footer_right .txt_box li {
  height: 20px;
  line-height: 20px;
}
.footer_wrap .footer .footer_right .txt_box li:last-child {
  border-top: 1px solid #fff;
}
.footer_wrap .footer .footer_right p {
  padding-top: 3px;
  margin-bottom: 70px;
}
.footer_wrap .footer .footer_right .sns_img {
  display: flex;
  justify-content: space-between;
  width: 130px;
}
.footer_wrap .footer .footer_right .sns_img li {
  width: 40px;
  height: 40px;
}
.footer_wrap .footer .footer_right .sns_img li img {
  width: 100%;
  height: auto;
}
/* ----------footer---------- *//*# sourceMappingURL=sub.css.map */